body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    width: 600px;
    height: 600px;
    display: flex;
    margin-bottom: 10px;
}

.square {
    flex: 1;
    flex-basis: 10px;
    border: 1px solid gray;
}

.row {
    flex: 1;
    display: flex;
    flex-direction: column;
}

#grid {
    display: flex;
    flex: 1;
}

.colored {
    background-color: black;
}